h3 {
font-size: 25px !important;
}
.btn-success:hover {
    background-color: red;
}
canvas {
    animation-name: clown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes clown {
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
    }
    